.Imagen1{width:150cm ;height:54cm ;}
.Texto{color: black;font-size: 5cm;margin-left: 50cm;}
.Texto2{color: black; font-size: 5cm;margin-left: 44cm;}
.Lista{color: black;font-size: 5cm;margin-left: 6cm;}
.Imagen2{width:15cm ;height:20cm;margin-left:5cm;}
.Lista2{color:black;font-size:5cm;margin-left:29cm;position:relative;left:17cm;bottom:26cm;}
.Imagen3{width:15cm;height:20cm;margin-left:45cm;position:relative;left:1cm;bottom:26cm}
.Lista3{color: black;font-size:5cm;margin-left:25cm;position:relative;left:60cm;bottom:52cm;}
.Imagen4{width:15cm;height:20cm;margin-left:25cm;position:relative;left:60cm;bottom:52cm;}
.Lista4{color:black;font-size:5cm;margin-left:100cm;position:relative;left:21cm;bottom:77.8cm}
.Imagen5{width:15cm;height:20cm;margin-left:25cm;position:relative;left:96cm;bottom:78cm}
.Boton{width:160px;height:160px;margin-bottom:200px;position:relative;left:0px;bottom:80px;font-size:40px;}